:root {
  --color1: #292626; /* Black */
  --color2: #394c5c; /* Blue */
  --color3: #746d6f; /* Dark Grey */
  --color4: #b5a5b3; /* Light Lilac */
  --color5: #ffffff; /* White */
  --color6: #e6e6e6; /* Light Grey */
  --color7: #ff6289; /* Orangy Red */
  --color8: #ff1a53; /* Orangy Red */
}

body {
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", sans-serif;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF MAIN  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
.main {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 508px 107px 403px 194px;
  grid-template-rows: 107px 596px 107px;
  gap: 15px;
}

#gameLogo {
  grid-area: 1 / 1 / 2 / 3;
  border-radius: 5px;
  height: 100%;
}

#bank {
  grid-area: 1 / 3 / 2 / 4;
  background-color: var(--color5);
  border-radius: 5px;
  height: 100%;
}

#moneyInHand {
  background-color: var(--color5);
  border-radius: 5px;
  height: 100%;
}

#map {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--color5);
  border-radius: 5px;
  height: 100%;
}

#drugBoard {
  grid-area: 2 / 2 / 3 / 5;
  background-color: var(--color6);
  border-radius: 5px;
  height: 100%;
  display: flex;
}

#newsBoard {
  grid-area: 3 / 1 / 4 / 4;
  background-color: var(--color5);
  border-radius: 5px;
  height: 100%;
}

#dateAndWeather {
  grid-area: 3 / 4 / 4 / 5;
  background-color: var(--color5);
  border-radius: 5px;
  height: 100%;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF LOGO  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.drugLords {
  display: flex;
  align-items: center;
  font-family: "Rubik Dirt", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.5rem;
  color: white;
  margin: auto;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF BANK  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.bank-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 4px;
}

.bank-content img {
  grid-row: span 2;
  margin: auto;
}

.balance {
  grid-area: 1 / 2 / 2 / 3;
  color: var(--color3);
  font-size: 22px;
  font-weight: 600;
  padding-top: 20px;
}

.money-in-bank {
  grid-area: 2 / 2 / 3 / 3;
  color: var(--color4);
  font-size: 26px;
  font-weight: 600;
  margin-top: -8px;
}

.bank-button {
  background-color: var(--color4);
  width: 115px;
  text-align: center;
  text-decoration: none;
  align-content: center;
  color: var(--color5);
  border-radius: 5px;
  height: 25px;
  font-size: 14px;
  transition: background-color 0.4s;
}

.bank-button:hover {
  background-color: var(--color3);
}

.bank-button.deposit {
  margin-top: 20px;
}

.bank-button.withdraw {
  margin-top: -3px;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF MONEY IN HAND  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.money-in-hand-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 18px 12px;
}

.money-in-hand-content img {
  grid-row: span 2;
  margin: auto;
}

.money-in-hands {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color4);
  font-size: 26px;
  font-weight: 600;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF DRUGS BOARD  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.drugsContainer {
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  margin: auto;
}

.singleCardContainer {
  position: relative;
  height: 10.4rem;
  width: 13rem;
  background-color: var(--color5);
  border-radius: 5px;
  place-items: center;
  border: 1px solid var(--color4);
  box-shadow: 4px 4px 0px rgba(60, 60, 60, 0.1);
}

.singleCardContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-content: center;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 85px 22px 22px 12px;
  width: 160px;
}

div .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color6);
}

.icon img {
  width: 75px;
  height: 75px;
}

.icon {
  grid-area: 1 / 1 / 2 / 3;
}

.drugName {
  grid-area: 2 / 1 / 3 / 3;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--color3);
}

.drugPrice {
  grid-area: 3 / 1 / 4 / 2;
  font-size: 18px;
  font-weight: 600;
  color: var(--color3);
}

.drugInPocket {
  grid-area: 4 / 1 / 5 / 2;
  font-size: 10px;
  line-height: 3px;
  color: var(--color4);
}

.drugAction {
  grid-area: 3 / 2 /5 / 3;
  display: flex;
  justify-content: flex-end;
}

.drugAction img {
  width: 28px;
  height: 28px;
  opacity: 0.5;
  padding-top: 3px;
  transition: opacity 0.3s;
}

.drugAction img:hover {
  opacity: 1;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF MAP AREA  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

#button-map-mobile {
  display: none;
}

.map-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  background-image: url("./assets/map2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  width: 90%;
  margin: auto;
  opacity: 0.8;
}

.you-are-in {
  text-align: center;
  font-size: 14px;
  color: var(--color3);
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}

.neighbourhood-name {
  text-align: center;
  font-size: 22px;
  color: var(--color4);
  font-weight: 600;
  padding-bottom: 20px;
}

.map-button {
  position: relative;
  background-color: var(--color4);
  box-shadow: 3px 3px 1px rgba(116, 116, 116, 0.4);
  border: 1px solid var(--color5);
  color: var(--color5);
  width: 8rem;
  padding: 8px 5px;
  border-radius: 5px;
  margin: auto;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.2s;
  overflow: hidden;
  transition: 0.1s linear 0.1s;
  align-self: center;
  z-index: 2;
}

.map-button span {
  font-family: "Montserrat", serif;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  z-index: 2;
  transition: 0.2s linear 0.1s;
}

.map-button::after {
  display: block;
  content: "";
  background-color: var(--color1);
  width: 520px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  transform: translateX(-40%);
  transition: 0.2s linear 0.1s;
  z-index: -1;
}

.map-button:hover::after {
  top: -10px; /* Moves the yellow background into view */
}

.map-button:hover span {
  color: var(--color5);
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF NEWS BOARD  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.newsBoard {
  display: grid;
  grid-template-columns: 130px 1fr;
  align-items: center;
  gap: 20px;
}

.newsBoard img {
  padding: 0 30px;
}

.broadcast p {
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  width: 90%;
  margin: 0.4rem;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF DATE AND WEATHER  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.date-weather-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  height: 100px;
}

.date {
  grid-row: span 2;
  background-image: url("./assets/calendar.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85px;
  width: 85px;
  justify-content: center;
  margin-left: 15px;
  text-align: center;
}

.day-of-week {
  font-size: 20px;
  font-weight: 600;
  line-height: 47px;
  color: var(--color5);
}

.day-of-month {
  font-size: 35px;
  font-weight: 600;
  line-height: 22px;
  color: var(--color3);
}

.weather {
  grid-row: span 2;
  background-image: url("./assets/weather-sunny.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 65px;
  width: 65px;
  justify-content: center;
  margin-right: 20px;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media screen and (min-width: 600px) and (max-width: 1275px) {
  .main {
    margin: 1rem;
    margin-top: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 110px 740px 160px;
    gap: 1.3rem;
  }

  #gameLogo {
    grid-area: 1 / 1 / 2 / 5;
    max-width: 100%;
    padding: 0;
    place-content: center;
    line-height: auto;
    margin: 1rem auto; /* Centering */
  }

  .drugLords {
    font-size: clamp(2rem, 9.5vw, 13rem);
    white-space: nowrap;
    text-align: left;
    width: max-content;
    line-height: 1;
  }

  /* BANK - TABLET */

  #bank {
    grid-area: 2 / 1 / 3 / 4;
    background-color: var(--color5);
    border-radius: 5px;
    height: 110px;
  }

  .bank-content {
    display: grid;
    grid-template-columns: 75px 35% 45%;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 4px;
    height: 80px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .bank-content img {
    scale: calc(0.6);
    padding-top: 1.5rem;
    padding-right: 1rem;
  }

  .balance {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }

  .money-in-bank {
    font-size: 28px;
  }

  .bank-button {
    width: 80%;
    height: 2.6rem;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    border-radius: 35px;
    margin-right: 0.5rem;
  }

  /* MONEY IN HAND - TABLET */

  #moneyInHand {
    grid-area: 2 / 4 / 3 / 5;
    background-color: var(--color5);
    border-radius: 5px;
    height: 110px;
    display: flex;
    align-items: center;
  }

  .money-in-hands {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    display: flex;
    font-size: 28px;
  }

  .money-in-hand-content img {
    scale: calc(0.7);
    padding-right: 0.8rem;
  }

  /* MAP TABLET */

  #map {
    display: none;
  }

  #button-map-mobile {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 1;
    background-color: var(--color7);
    color: var(--color5);
    height: 50px;
    width: auto;
    border-radius: 35px;
    padding: 5px 10px; /* Tap area */
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #button-map-mobile:hover {
    background-color: var(--color8);
  }

  #button-map-mobile a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color5);
    margin: auto;
    display: block;
  }

  #button-map-mobile:active {
    transform: scale(0.95); /* Press-down effect */
    background-color: var(--color8);
  }

  #map.map-fullscreen {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: calc(90vw * (596 / 508)); /* Maintain aspect ratio */
    max-width: 508px;
    max-height: 596px;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    opacity: 1;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  /* Overlay behind the map */
  #map-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000;
  }

  /* Button styles */
  .button-tablet {
    display: block;
  }

  /* DRUGS BOARD TABLET */

  #drugBoard {
    grid-area: 3 / 1 / 4 / 6;
    background-color: var(--color6);
    border-radius: 5px;
    height: 100%;
    display: flex;
  }

  .drugsContainer {
    transform: scale(1.2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 0rem;
    width: 80%;
    justify-items: center;
  }

  .singleCardContainer {
    height: 10.5em;
    width: 90%;
    place-items: center;
  }

  .singleCardContent {
    width: 80%;
  }

  div .icon {
    padding-bottom: 0px;
  }

  .icon img {
    width: 70px;
    height: 70px;
  }

  /* NEWS BOARD TABLET */

  #newsBoard {
    grid-area: 4 / 1 / 5 / 6;
    background-color: var(--color5);
    border-radius: 5px;
    height: 100%;
  }

  .broadcast {
    padding-right: 2rem;
  }

  .broadcast p {
    margin: 0.4rem;
  }

  /* DATE AND WEATHER TABLET */

  #dateAndWeather {
    grid-area: 2 / 5 / 3 / 6;
    background-color: var(--color5);
    border-radius: 5px;
    height: 110px;
    display: flex;
    align-items: center;
  }

  .date-weather-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    scale: calc(0.8);
  }
}

/* LESS THAN 765PX - MOBILE */

@media screen and (min-width: 380px) and (max-width: 790px) {
  .main {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px 75px 75px 75rem 150px;
    column-gap: 1rem;
    row-gap: 0.5rem;
  }

  #gameLogo {
    grid-area: 1 / 1 / 2 / 4;
    max-width: 90%;
    padding: 0;
    place-content: center;
    line-height: auto;
    margin: 1rem auto;
  }

  .drugLords {
    font-size: clamp(1rem, 7.5vw, 4rem);
    white-space: nowrap;
    text-align: left;
    width: max-content;
    line-height: 1;
  }
  /* MAP MOBILE */

  #map {
    display: none;
  }

  .map-button {
    font-size: 10px;
    width: 6rem;
  }

  #button-map-mobile {
    grid-area: 1 / 4 / 2 / 6;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--color7);
    color: var(--color5);
    width: auto;
    padding: 5px;
    border-radius: 35px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #button-map-mobile:hover {
    background-color: var(--color8);
  }

  #button-map-mobile a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--color5);
    margin: auto;
    display: block;
  }

  #button-map-mobile:active {
    transform: scale(0.95); /* Press-down effect */
    background-color: var(--color8);
  }

  #map.map-fullscreen {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: calc(90vw * (596 / 508)); /* Maintain aspect ratio */
    max-width: 508px;
    max-height: 596px;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    opacity: 1;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  /* Overlay behind the map */
  #map-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000;
  }

  /* Button styles */
  .button-tablet {
    display: block;
  }

  /* BANK MOBILE */

  #bank {
    grid-area: 2 / 1 / 4 / 4;
    background-color: var(--color5);
    border-radius: 5px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bank-content {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    height: 130px;
  }

  .balance {
    grid-area: 3 / 1 / 4 / 2;
    font-size: clamp(1rem, 3vw, 4rem);
    text-align: center;
    padding: 0;
  }

  .money-in-bank {
    grid-area: 4 / 1 / 5 / 2;
    font-size: clamp(1rem, 5vw, 4rem);
    text-align: center;
  }

  .deposit {
    grid-area: 1 / 2 / 3 / 3;
  }

  .withdraw {
    grid-area: 3 / 2 / 5 / 3;
  }

  .bank-content img {
    grid-area: 1 / 1 / 3 / 2;
    scale: calc(0.6);
    margin: auto;
    padding: 0;
  }

  .bank-button {
    width: 80%;
    height: 2.4rem;
    font-size: 13px;
    border-radius: 35px;
    margin: auto;
  }

  /* MONEY IN HAND MOBILE */

  #moneyInHand {
    grid-area: 3 / 4 / 4 / 6;
    gap: 10%;
    height: 70px;
    align-content: center;
  }

  .money-in-hands {
    font-size: clamp(1rem, 5vw, 4rem);
    height: 100%;
    align-content: center;
  }

  .money-in-hand-content img {
    scale: calc(0.6);
  }

  .money-in-hand-content {
    margin: 0;
  }

  /* DRUGS BOARD MOBILE */

  #drugBoard {
    grid-area: 4 / 1 / 5 / 6;
    background-color: var(--color6);
    border-radius: 5px;
    height: 100%;
    display: flex;
  }

  .drugsContainer {
    transform: scale(1);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    width: 100%;
    justify-items: center;
  }

  .singleCardContainer {
    height: 7rem;
    width: 90%;
    place-items: center;
  }

  .singleCardContent {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: 85px 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .icon {
    grid-area: 1 / 1 / 4 / 2;
  }

  div .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 35%;
    border-right: 2px solid var(--color6);
    border-bottom: none;
  }

  .icon img {
    width: 80px;
    height: 80px;
  }

  .drugName {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    padding-left: 5%;
    font-size: 20px;
  }

  .drugPrice {
    grid-area: 1 / 3 / 2 / 4;
    font-size: 20px;
    text-align: right;
  }

  .drugInPocket {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 14px;
    line-height: 1rem;
    padding-left: 5%;
  }

  .drugAction {
    grid-area: 2 / 3 / 3 / 4;
  }

  /* NEWS BOARD MOBILE */

  #newsBoard {
    grid-area: 5 / 1 / 6 / 6;
    height: fit-content;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }

  .broadcast p {
    font-size: 17px;
    font-weight: 200;
    line-height: 1.4rem;
    display: inline-block;
    width: fit-content;
  }

  /* DATE AND WEATHER MOBILE */

  #dateAndWeather {
    grid-area: 2 / 4 / 3 / 6;
    background-color: var(--color5);
    border-radius: 5px;
    height: 70px;
    padding: 0;
    margin: 0;
  }

  .date-weather-container {
    display: grid;
    place-content: center;
    height: 70px;
    scale: calc(0.6);
    width: 100%;
  }
}
