:root {
  --black: #000000; /* Black */
  --white: #ffffff; /* White */
  --color1: #3d3839; /* Dark Warm Grey */
  --color2: #c4b3c1; /* Light Lilac */
  --color5: #ff6289; /* Redish Pink */
  --color6: #fe9fb7; /* Red */
  --color7: #ededed; /* Very Light Grey */
  --color8: #c9d2da; /* Steel */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", sans-serif;
  background: linear-gradient(
      45deg,
      #0000 calc(25% / 3),
      #2b2b2b 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #2b2b2b 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
      45deg,
      #2b2b2b calc(25% / 3),
      #0000 0 calc(50% / 3),
      #2b2b2b 0 25%,
      #0000 0 75%,
      #2b2b2b 0 calc(250% / 3),
      #0000 0 calc(275% / 3),
      #2b2b2b 0
    ),
    linear-gradient(
      -45deg,
      #0000 calc(25% / 3),
      #2b2b2b 0 calc(50% / 3),
      #0000 0 calc(250% / 3),
      #2b2b2b 0 calc(275% / 3),
      #0000 0
    ),
    linear-gradient(
        -45deg,
        #2b2b2b calc(25% / 3),
        #0000 0 calc(50% / 3),
        #2b2b2b 0 25%,
        #0000 0 75%,
        #2b2b2b 0 calc(250% / 3),
        #0000 0 calc(275% / 3),
        #2b2b2b 0
      )
      #373737;
  background-size: 38px 38px;
  background-position: 0 0, 19px 19px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background: white;
  padding: 1rem 4rem;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  text-align: center;
}

h4 {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
}

.modal p {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
}

.close-btn {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  padding: 10px;
  background: var(--color1);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn:hover {
  background-color: var(--black);
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF MAIN  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
.main {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 508px 107px 403px 194px;
  grid-template-rows: 107px 596px 107px;
  gap: 15px;
}

#gameLogo {
  grid-area: 1 / 1 / 2 / 3;
  border-radius: 5px;
  height: 100%;
}

#bank {
  grid-area: 1 / 3 / 2 / 4;
  background-color: var(--white);
  border-radius: 5px;
  height: 100%;
}

#moneyInHand {
  background-color: var(--white);
  border-radius: 5px;
  height: 100%;
}

#map {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--white);
  border-radius: 5px;
  height: 100%;
  font-size: 0.8rem;
}

#drugBoard {
  grid-area: 2 / 2 / 3 / 5;
  background-color: var(--color7);
  border-radius: 5px;
  height: 100%;
  display: flex;
}

#newsBoard {
  grid-area: 3 / 1 / 4 / 4;
  background-color: var(--white);
  border-radius: 5px;
  height: 100%;
}

#dateAndWeather {
  grid-area: 3 / 4 / 4 / 5;
  background-color: var(--white);
  border-radius: 5px;
  height: 100%;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF LOGO  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.drugLords {
  display: flex;
  align-items: center;
  font-family: "Rubik Dirt", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.5rem;
  color: var(--white);
  margin: auto;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF BANK  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.bank-content {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 4px;
}

.bank-content img {
  grid-row: span 2;
  height: 65px;
  width: 65px;
  margin: auto;
}

.balance {
  grid-area: 1 / 2 / 2 / 3;
  color: var(--color1);
  font-size: 22px;
  font-weight: 600;
  padding-top: 20px;
}

.money-in-bank {
  grid-area: 2 / 2 / 3 / 3;
  color: var(--color8);
  font-size: 26px;
  font-weight: 600;
  margin-top: -8px;
}

.bank-button {
  grid-row: span 2;
  background-color: var(--color1);
  width: 115px;
  text-align: center;
  text-decoration: none;
  align-content: center;
  color: var(--white);
  border-radius: 5px;
  height: 45px;
  font-size: 14px;
  place-self: center;
  transition: background-color 0.4s;
}

.bank-button:hover {
  background-color: var(--color5);
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  BANK MODAL  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
.bank-transaction-container {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  height: 495px;
  border-radius: 10px;
  background-color: var(--white);
  z-index: 20;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the modal's size */
}

.bt-single-card-header {
  background-color: var(--color1);
  height: 108px;
  padding: 27px;
  border-radius: 10px 10px 0 0;
}

.bt-white-circle {
  width: 108px;
  height: 108px;
  background-color: var(--white);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.bt-icon img {
  height: 75px;
  width: 75px;
  margin: auto;
}

.bt-heading-text {
  text-align: right;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--white);
  margin-top: -1rem;
}

.bt-bank-tagline {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--white);
}

.bt-single-card-body {
  text-align: center;
}

.bt-loan-info {
  font-size: 0.9rem;
  color: var(--color5);
  padding: 1rem;
  padding-bottom: 0;
}

.bt-balance-display {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color2);
}

.bt-input-container {
  margin-top: 1rem;
  font-size: 16px;
}

.bt-amount {
  width: 80%;
  height: 40px;
  border: 1px solid var(--color7);
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  background-color: var(--color7);
}

.bt-amount::-webkit-outer-spin-button,
.bt-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bt-amount:focus {
  background-color: var(--white);
  outline: 1px solid var(--color5);
}

.bt-button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 16px;
}

.bt-button {
  width: 140px;
  height: 50px;
  border: none;
  background-color: var(--color1);
  color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 200ms linear;
  font-size: 1rem;
}

.bt-button:hover {
  background-color: var(--color5);
}

.goback-bank {
  border: none;
  background-color: var(--color1);
  color: var(--white);
  margin: 0;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF MONEY IN HAND  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.money-in-hand-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 18px 12px;
}

.money-in-hand-content img {
  grid-row: span 2;
  margin: auto;
}

.money-in-hands {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color8);
  font-size: 26px;
  font-weight: 600;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF DRUGS BOARD  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.drugsContainer {
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  margin: auto;
}

.singleCardContainer {
  height: 10.4rem;
  width: 13rem;
  background-color: var(--white);
  border-radius: 5px;
  place-items: center;
  border: 1px solid var(--color2);
  box-shadow: 4px 4px 0 rgba(60, 60, 60, 0.2);
}
.singleCardHeader {
  height: 5rem;
  background-color: var(--color8);
  margin: auto;
  position: relative;
}
.icon {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 55px;
  height: 55px;
}
.singleCardBody {
  width: 11rem;
  margin: auto;
  position: relative;
}
.drugName {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--color1);
  padding-top: 0.4rem;
}
.priceAndInPocket {
  float: left;
}
.drugInPocket,
.drugPrice {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color1);
  line-height: 1.8;
}
.drugInPocket {
  font-size: 0.8rem;
  line-height: 1;
  color: var(--color8);
}
.drugAction {
  font-size: 1.5rem;
  padding-top: 3px;
  transition: color 0.2s;
  border: 0;
  background-color: #fff;
  color: var(--color1);
  margin: auto;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(80%);
}
.drugAction:hover {
  color: var(--color8);
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*     THIS IS THE FUNCTIONALITY TO BUY DRUGS     */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
.drug-transaction-container {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  height: 445px;
  border-radius: 10px;
  background-color: var(--white);
  z-index: 20;
  position: absolute;
}

.dt-single-card-header {
  background-color: var(--color5);
  height: 108px;
  padding: 27px;
  border-radius: 10px 10px 0 0;
}

.dt-white-circle {
  width: 108px;
  height: 108px;
  background-color: var(--white);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.dt-icon img {
  height: 85px;
  width: 85px;
  margin: auto;
  padding-top: 10px;
}

.dt-heading-text {
  text-align: right;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--white);
  margin-top: -1rem;
}

.dt-single-card-body {
  text-align: center;
}

.dt-drug-amount {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 30px;
  gap: 10px;
}

.dt-pill-button {
  width: 42px;
  height: 42px;
  border-radius: 2.5rem;
  border: none;
  background-color: var(--color1);
  color: var(--white);
  transition: background-color 100ms linear;
}

.dt-pill-button:hover {
  background-color: var(--color5);
}

.dt-pill-button:disabled,
.dt-buy-button:disabled,
.dt-sell-button:disabled {
  background-color: #ccc; /* Light grey background */
  color: #666; /* Dimmed text */
  cursor: not-allowed; /* Shows "not-allowed" cursor */
  opacity: 0.6; /* Makes it look faded */
  pointer-events: none; /* Prevents any interaction */
}

.dt-pill {
  width: 120px;
  height: 42px;
  color: var(--color2);
  border: 1px solid var(--color7);
  border-radius: 2.5rem;
  align-content: center;
}

.dt-you-have {
  font-size: 1.2rem;
  color: var(--color5);
  margin: 0;
  padding-top: 1.3rem;
}

.dt-drug-purchase-total {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 0.8rem;
  color: var(--color2);
}

.dt-buy-button-container,
.dt-sell-button-container {
  display: inline-flex;
  padding-top: 16px;
}

.dt-buy-button-container {
  margin-right: 15px;
}

.dt-button {
  width: 160px;
  height: 56px;
  border: none;
  background-color: var(--color1);
  color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 200ms linear;
}

.dt-button:hover {
  width: 160px;
  height: 56px;
  border: none;
  background-color: var(--color5);
  color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.goback {
  border: none;
  background-color: var(--color5);
  color: var(--color6);
  margin: 0;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF MAP AREA  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

#button-map-mobile {
  display: none;
}

.map-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  background-image: url("./assets/map2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 90%;
  margin: auto;
  opacity: 0.8;
  position: relative;
}

.you-are-in {
  text-align: center;
  font-size: 1rem;
  color: var(--color1);
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}

.neighbourhood-name {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color5);
  font-weight: 600;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.map-button {
  backdrop-filter: blur(0px);
  position: absolute;
}

.map-button p {
  position: absolute;
  width: 140px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--color1);
  padding: 10px 0;
  margin: 0;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--white);
  transition: background-color 0.5s ease;
}

.map-button:hover,
.map-button:hover p,
.map-button p:hover,
.map-button p:hover ~ .map-button {
  /* backdrop-filter: grayscale(100%);  */
  backdrop-filter: blur(1px);
  color: var(--white);
}

.map-button:hover p {
  background-color: var(--color5);
}

.industrial {
  clip-path: polygon(0 0, 0 22%, 11% 27%, 22% 30%, 33% 27%, 44% 24%, 48% 0);
  grid-area: 1 / 1 / 2 / 2;
  height: 500px;
  width: 450px;
  left: 0px;
  top: 0;
}

.industrial p {
  left: 40px;
  top: 30px;
}

.suburban {
  clip-path: polygon(
    51% 0%,
    47% 24%,
    56% 23%,
    65% 23%,
    71% 24%,
    76% 25%,
    82% 27%,
    90% 30%,
    100% 33%,
    100% 0%
  );
  grid-area: 1 / 2 / 2 / 3;
  height: 500px;
  width: 450px;
  left: -224px;
  top: 0;
}

.suburban p {
  left: 280px;
  top: 30px;
}

.downtown {
  clip-path: polygon(
    43% 27%,
    28% 32%,
    12% 39%,
    0 42%,
    0 47%,
    48% 75%,
    53% 94%,
    63% 61%,
    41% 39%
  );
  grid-area: 2 / 1 / 3 / 2;
  height: 455px;
  width: 455px;
  left: 0;
  top: -110;
}

.downtown p {
  left: 40px;
  top: 180px;
}

.university {
  clip-path: polygon(
    46% 27%,
    56% 26%,
    67% 26%,
    74% 28%,
    81% 30%,
    90% 33%,
    97% 36%,
    100% 36%,
    100% 59%,
    66% 59%,
    44% 38%
  );
  grid-area: 2 / 2 / 3 / 3;
  height: 455px;
  width: 454px;
  left: -226px;
  top: -110;
}

.university p {
  left: 280px;
  top: 180px;
}

.seedy {
  clip-path: polygon(0% 47%, 0% 100%, 51% 100%, 53% 96%, 47% 75%);
  grid-area: 3 / 1 / 4 / 2;
  height: 495px;
  width: 455px;
  left: 0;
  top: -335px;
}

.seedy p {
  left: 40px;
  top: 390px;
}

.wealthy {
  clip-path: polygon(54% 100%, 65% 60%, 100% 60%, 100% 100%);
  grid-area: 3 / 2 / 4 / 3;
  height: 480px;
  width: 454px;
  left: -226px;
  top: -320px;
}

.wealthy p {
  left: 280px;
  top: 375px;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF NEWS BOARD  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.newsBoard {
  display: grid;
  grid-template-columns: 130px 1fr;
  align-items: center;
  gap: 20px;
}

.newsBoard img {
  padding: 0 30px;
}

.broadcast p {
  font-size: 1rem;
  font-weight: 200;
  display: inline-block;
  width: 90%;
  margin: 0.4rem;
  color: var(--color1);
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}

/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */
/*  START OF DATE AND WEATHER  */
/* ♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎♡︎ */

.date-weather-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  height: 100px;
}

.date {
  grid-row: span 2;
  background-image: url("./assets/calendar.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85px;
  width: 85px;
  justify-content: center;
  margin-left: 15px;
  text-align: center;
}

.day-of-week {
  font-size: 20px;
  font-weight: 600;
  line-height: 47px;
  color: var(--white);
}

.day-of-month {
  font-size: 35px;
  font-weight: 600;
  line-height: 22px;
  color: var(--color1);
}

.weather {
  grid-row: span 2;
  background-image: url("./assets/weather-sunny.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 65px;
  width: 65px;
  justify-content: center;
  margin-right: 20px;
}

.dark-overlay {
  visibility: hidden;
  opacity: 0;
}

.dark-overlay.active {
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.drug-transaction-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.drug-transaction-container.hidden {
  display: none;
}

/* XXXXXXXXXXXXX */
/* XXXXXXXXXXXXX */
/* MEDIA QUERIES */
/* XXXXXXXXXXXXX */
/* XXXXXXXXXXXXX */

@media screen and (min-width: 791px) and (max-width: 1275px) {
  .main {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 110px 37rem 160px;
    gap: 1.3rem;
  }

  #gameLogo {
    grid-area: 1 / 1 / 2 / 3;
    max-width: 100%;
    padding: 0;
    place-content: center;
    line-height: auto;
    margin: 1rem auto;
  }

  .drugLords {
    font-size: clamp(2rem, 9.5vw, 13rem);
    white-space: nowrap;
    text-align: left;
    line-height: 1;
  }

  /* BANK - TABLET */

  #bank {
    grid-area: 2 / 1 / 3 / 2;
    background-color: var(--white);
    border-radius: 5px;
    height: 110px;
  }

  .bank-content {
    display: grid;
    grid-template-columns: 75px 35% 45%;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    margin: 4px;
    height: 100px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: flex-start;
  }

  .bank-content img {
    scale: calc(0.7);
    grid-row: span 2;
    padding-top: 10px;
  }

  .balance {
    font-size: 0.8rem;
    text-align: left;
    line-height: 5;
  }

  .money-in-bank {
    font-size: 24px;
    text-align: left;
    margin-top: -3.5rem;
  }

  .bank-button {
    width: 80%;
    height: 3rem;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    border-radius: 10px;
    margin-right: 0.5rem;
    grid-row: span 2;
    place-self: center;
  }

  /* MONEY IN HAND - TABLET */

  #moneyInHand {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--white);
    border-radius: 5px;
    height: 110px;
    display: flex;
    align-items: center;
  }

  .money-in-hand-content {
    width: 100%;
  }

  .money-in-hands {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    display: flex;
    font-size: 24px;
  }

  .money-in-hand-content img {
    scale: calc(0.7);
  }

  /* MAP TABLET */

  #map {
    display: none;
  }

  #button-map-mobile {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 1;
    background-color: var(--color5);
    color: var(--white);
    height: 50px;
    width: auto;
    border-radius: 35px;
    padding: 5px 10px; /* Tap area */
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #button-map-mobile:hover {
    background-color: var(--color6);
  }

  #button-map-mobile a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
    margin: auto;
    display: block;
  }

  #button-map-mobile:active {
    transform: scale(0.95); /* Press-down effect */
    background-color: var(--color6);
  }

  #map.map-fullscreen {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: calc(90vw * (596 / 508)); /* Maintain aspect ratio */
    max-width: 508px;
    max-height: 596px;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    opacity: 1;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  /* Overlay behind the map */
  #dark-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 1000;
  }

  /* Button styles */
  .button-tablet {
    display: block;
  }

  /* DRUGS BOARD TABLET */

  #drugBoard {
    grid-area: 3 / 1 / 4 / 4;
    height: 38rem;
    display: flex;
  }

  .drugsContainer {
    transform: scale(1);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 0rem;
    width: 98%;
    height: 35rem;
    justify-items: center;
  }

  .singleCardContainer {
    height: 100%;
    width: 90%;
    place-items: center;
  }

  .singleCardHeader {
    height: 5rem;
    background-color: var(--color8);
    position: relative;
  }

  .icon {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect centering */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .singleCardBody {
    width: 80%;
  }

  /* NEWS BOARD TABLET */

  #newsBoard {
    grid-area: 4 / 1 / 5 / 4;
    background-color: var(--white);
    border-radius: 5px;
    height: 100%;
  }

  .broadcast {
    padding-right: 2rem;
  }

  .broadcast p {
    margin: 0.4rem;
    width: 100%;
  }

  /* DATE AND WEATHER TABLET */

  #dateAndWeather {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--white);
    border-radius: 5px;
    height: 110px;
    display: flex;
    align-items: center;
  }

  .date-weather-container {
    display: grid;
    place-content: center;
    height: 70px;
    width: 100%;
    gap: 0;
  }

  .date {
    height: 55px;
    width: 55px;
  }

  .weather {
    height: 50px;
    width: 50px;
  }

  .day-of-week {
    font-size: 1rem;
    line-height: 1.8;
  }

  .day-of-month {
    font-size: 30px;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXX */
/* LESS THAN 765PX - MOBILE */
/* XXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (min-width: 380px) and (max-width: 790px) {
  .main {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 75px 75px 73rem 150px;
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin: 0 3rem;
    width: max-content;
  }

  #gameLogo {
    grid-area: 1 / 1 / 2 / 2;
    padding: 0;
    place-content: center;
    line-height: auto;
  }

  .drugLords {
    font-size: clamp(0.5rem, 7.5vw, 3rem);
    white-space: nowrap;
    text-align: left;
    line-height: 1;
  }
  /* MAP MOBILE */

  #map {
    display: none;
  }

  #button-map-mobile {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-self: flex-end;
    align-content: center;
    line-height: 0;
    background-color: var(--color5);
    color: var(--white);
    height: 40px;
    width: 80%;
    border-radius: 35px;
    padding: 5px 10px; /* Tap area */
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  #button-map-mobile:hover {
    background-color: var(--color6);
  }

  #button-map-mobile a {
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--white);
    margin: auto;
    display: block;
  }

  #button-map-mobile:active {
    transform: scale(0.95); /* Press-down effect */
    background-color: var(--color6);
  }

  #map.map-fullscreen {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: calc(90vw * (596 / 508)); /* Maintain aspect ratio */
    max-width: 508px;
    max-height: 596px;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    opacity: 1;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  /* Overlay behind the map */
  #dark-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000;
  }

  /* Button styles */
  .button-tablet {
    display: block;
  }

  .map-button {
    position: absolute;
  }

  .map-button p {
    font-size: 0.6rem;
    position: absolute;
    width: 100px;
    text-decoration: none;
    color: var(--white);
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
    border: 2px solid var(--white);
    transition: background-color 1s ease;
  }

  .map-button:hover,
  .map-button:hover p,
  .map-button p:hover,
  .map-button p:hover ~ .map-button {
    backdrop-filter: none;
    background-color: transparent;
    color: var(--white);
  }

  .map-button:hover p {
    background-color: var(--color8);
  }

  .industrial {
    clip-path: polygon(0 0, 0 22%, 11% 27%, 22% 30%, 33% 27%, 44% 24%, 48% 0);
    grid-area: 1 / 1 / 2 / 2;
    height: 380px;
    width: 360px;
    left: 0px;
    top: 0;
  }

  .industrial p {
    left: 35px;
    top: 30px;
  }

  .suburban {
    clip-path: polygon(
      51% 0%,
      47% 24%,
      56% 23%,
      65% 23%,
      71% 24%,
      76% 25%,
      82% 27%,
      90% 30%,
      100% 33%,
      100% 0%
    );
    grid-area: 1 / 2 / 2 / 3;
    height: 390px;
    width: 360px;
    left: -180px;
    top: 0;
  }

  .suburban p {
    left: 215px;
    top: 30px;
  }

  .downtown {
    clip-path: polygon(
      43% 27%,
      28% 32%,
      12% 39%,
      0 42%,
      0 47%,
      48% 75%,
      53% 94%,
      63% 61%,
      41% 39%
    );
    grid-area: 2 / 1 / 3 / 2;
    height: 350px;
    width: 360px;
    left: 0;
    top: -110;
  }

  .downtown p {
    left: 35px;
    top: 140px;
  }

  .university {
    clip-path: polygon(
      46% 27%,
      56% 26%,
      67% 26%,
      74% 28%,
      81% 30%,
      90% 33%,
      97% 36%,
      100% 36%,
      100% 59%,
      66% 59%,
      44% 38%
    );
    grid-area: 2 / 2 / 3 / 3;
    height: 355px;
    width: 355px;
    left: -174px;
    top: -110;
  }

  .university p {
    left: 215px;
    top: 140px;
  }

  .seedy {
    clip-path: polygon(0% 47%, 0% 100%, 51% 100%, 53% 96%, 47% 75%);
    grid-area: 3 / 1 / 4 / 2;
    height: 385px;
    width: 360px;
    left: 0;
    top: -260px;
  }

  .seedy p {
    left: 35px;
    top: 290px;
  }

  .wealthy {
    clip-path: polygon(54% 100%, 65% 60%, 100% 60%, 100% 100%);
    grid-area: 3 / 2 / 4 / 3;
    height: 380px;
    width: 354px;
    left: -174px;
    top: -255px;
  }

  .wealthy p {
    left: 215px;
    top: 290px;
  }

  /* BANK MOBILE */

  #bank {
    grid-area: 3 / 1 / 4 / 3;
    background-color: var(--white);
    border-radius: 5px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bank-content {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    height: 60px;
    align-content: center;
  }

  .balance {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 0.9rem;
    text-align: left;
    align-self: flex-end;
    padding: 0;
  }

  .money-in-bank {
    grid-area: 2 / 2 / 3 / 3;
    font-size: clamp(1rem, 5vw, 4rem);
    text-align: left;
  }

  .bank-content img {
    grid-area: 1 / 1 / 2 / 2;
    grid-row: span 2;
    scale: calc(0.7);
    margin: auto;
    padding: 0;
  }

  .bank-button {
    grid-area: 1 / 3 / 2 / 4;
    grid-row: span 2;
    width: 90%;
    height: 2.6rem;
    font-size: 11px;
    font-weight: 600;
    border-radius: 10px;
    margin: auto;
  }

  /* MONEY IN HAND MOBILE */

  #moneyInHand {
    grid-area: 2 / 1 / 3 / 2;
    gap: 10%;
    height: 70px;
  }

  .money-in-hands {
    font-size: clamp(1rem, 5vw, 4rem);
    height: 100%;
    justify-content: flex-start;
  }

  .money-in-hand-content img {
    scale: calc(0.6);
    place-self: center;
    margin-left: 1.7rem;
  }

  .money-in-hand-content {
    margin: 0;
  }

  /* DRUGS BOARD MOBILE */

  #drugBoard {
    grid-area: 4 / 1 / 5 / 3;
  }

  .drugsContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.3rem;
    width: 98%;
    justify-items: center;
    margin-top: 0;
  }

  .singleCardContainer {
    height: 6.5rem;
    width: 95%;
    margin-top: 1rem;
  }

  .singleCardHeader {
    height: 6.5rem;
    width: 6.5rem;
    margin-left: 0;
    background-color: var(--color8);
    float: left;
  }

  .singleCardBody {
    position: relative;
    width: 60%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 2;
    height: 6.5rem;
  }

  .icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon img {
    width: 60px;
    height: 60px;
  }

  .drugName {
    grid-area: 1 / 1 / 2 / 3;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1;
    align-self: center;
    grid-column: span 2;
  }

  .drugPrice {
    font-size: 1.2rem;
    line-height: 0.8;
  }

  .drugInPocket {
    font-size: 0.8rem;
    line-height: 2.5;
  }

  .priceAndInPocket {
    grid-area: 2 / 1 / 3 / 2;
    text-align: left;
    line-height: 1;
  }

  .drugAction {
    grid-area: 1 / 2 / 3 / 3;
    text-align: right;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    right: auto;
    top: auto;
    transform: none;
    justify-self: flex-end;
    align-self: center;
    margin-right: 1rem;
  }

  /* NEWS BOARD MOBILE */

  #newsBoard {
    grid-area: 5 / 1 / 6 / 3;
    height: fit-content;
  }
  .newsBoard {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 10px;
  }

  .newsBoard img {
    width: 70px;
    height: 70px;
    padding: 0;
    padding-left: 1rem;
  }

  .broadcast p {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.4rem;
  }

  /* DATE AND WEATHER MOBILE */

  #dateAndWeather {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--white);
    border-radius: 5px;
    padding: 0;
    margin: 0;
  }

  .date-weather-container {
    display: grid;
    place-content: center;
    height: 70px;
    width: 100%;
  }

  .date {
    height: 55px;
    width: 55px;
  }

  .weather {
    height: 55px;
    width: 55px;
  }

  .day-of-week {
    font-size: 1rem;
    line-height: 1.8;
  }

  .day-of-month {
    font-size: 30px;
  }
}

.hidden {
  display: none;
}

.highlight {
  color: var(--color5);
}
